h1{
    color: White;
}




p {
    color: black;
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 20;
  }

ul#ul li{
      display:inline
    }

ul{
        text-align: center;
    }



li a{
        padding: 20px;
        font-size: 30;
        text-decoration: none;
        color: white;
    }
.bg{
    text-align:center;
}
body{
    background-image: url('test.jpeg');
}

      




